<html>
  <head>
    <title>US TV Broadcast Maps</title>
  </head>

  <body>
    <h2>US TV Broadcast Maps, organized by state</h2>

    <ul>
    <% for state in states %>
      <li><a href="<%= state['name'].gsub(" ", "_") %>.html"><%= state["name"] %> (<%= state["abbreviation"] %>)<a/></li>
    <% end %>
    </ul>
  </body>
</html>