<html>
  <head>
    <title>US TV Broadcast Maps</title>
  </head>

  <body>
    <a href="https://github.com/adelevie/tv-broadcast-maps-website"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <h2>US TV Broadcast Maps, organized by state</h2>

    <ul>
    <% for state in states %>
      <li><a href="<%= state['name'].gsub(" ", "_") %>.html"><%= state["name"] %> (<%= state["abbreviation"] %>)<a/></li>
    <% end %>
    </ul>
  </body>
</html>