
<!DOCTYPE html>
<html>
<head>
  <title>Broadcast contours for <%= state["name"] %></title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.ie.css" />
 <![endif]-->
</head>
<body>
  <div id="map" style="width: 1000px; height: 800px"></div>

  <script src="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.js"></script>

  <script type="text/javascript" src="state-outlines.js"></script>

  <script>

    var map = L.map('map').setView(<%= latlong %>, 6);

    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
      key: '624cdf50c18148ac8c2b5e220c7d0a44'
    }).addTo(map);

    var stateStyle = {};

    L.geoJson(statesData, {style: stateStyle}).addTo(map);

    var contourStyle = {
      "color": "#ff7800",
      "weight": 1,
      "opacity": 0.65
    };

    var geojsonMarkerOptions = {
      radius: 8,
      fillColor: "#ff7800",
      color: "#000",
      weight: 1,
      opacity: 1,
      fillOpacity: 0.8
    };

    <% for filename in json_filenames %>
    L.geoJson(<%= File.open(filename).read %>, {
      style: contourStyle,
      pointTolayer: function(feature, latlng) {
        return L.circleMarker(latlng, geojsonMarkerOptions);
      }
    }).addTo(map);
    <% end %>


  </script>
</body>
</html>
